body {
    height: calc(100vh + 00px);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FF;
    color: #003366;
    overflow-y:scroll;
}


footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid rgb(10, 10, 10);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 20px auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #003366;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #003366; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002244;
}

.switch-form {
    margin-top: 20px;
    text-align: center;
}

.switch-form a {
    color: #003366;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}