body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FF; 
    color: #003366; 
}

.header {
    background-color: #003366; 
    padding: 2rem;
    text-align: left;
}
.header2 {
    float: right
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background: #3399FF; 
    color: white;
    text-align: center;
    padding: 100px 0;
}

section {
    padding: 2em 3em 2em 3em;
    margin: 2rem 0;
    background-color: #B3D9FF; 
}

footer {
    background-color: #003366; 
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.job-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .job-card h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .job-card p {
    margin: 4px 0;
  }
  
  .apply-button {
    margin-top: 8px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  