body {
    height: 121vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FF;
    color: #003366;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* scrollbar-design */

.header {
    background-color: #003366;
    padding: 30px;
    text-align: left;
    margin-top: 0;
    border-bottom: 2px solid rgb(10, 10, 10);
}

.header2 {
    float: right;
    width: 0;
    height: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: #003366;
}

h3 {
    font-size: 2rem;
    margin: .5em 0 .5em 0;
    color: #003366;
}

section {
    padding: 2em 3em 2em 3em;
    margin: 2rem 0;
    background-color: #B3D9FF;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
